<a href="https://colab.research.google.com/github/Namrata-Paul/Supervised-Learning-techniques/blob/main/Titanic%20Decision%20Tree.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
from google.colab import files
uploaded = files.upload()

Saving titanic.csv to titanic (1).csv

In [5]:
import pandas as pd

In [6]:
df = pd.read_csv("titanic.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [7]:
n_df = df.drop(['PassengerId', 'Name', 'SibSp', 'Parch', 'Ticket', 'Cabin', 'Embarked'], axis ='columns')
n_df.head()

   Survived  Pclass     Sex   Age     Fare
0         0       3    male  22.0   7.2500
1         1       1  female  38.0  71.2833
2         1       3  female  26.0   7.9250
3         1       1  female  35.0  53.1000
4         0       3    male  35.0   8.0500

In [8]:
inputs = n_df.drop(['Survived'], axis = 'columns')
inputs.head()

   Pclass     Sex   Age     Fare
0       3    male  22.0   7.2500
1       1  female  38.0  71.2833
2       3  female  26.0   7.9250
3       1  female  35.0  53.1000
4       3    male  35.0   8.0500

In [9]:
target = df['Survived']

In [10]:
from sklearn.preprocessing import LabelEncoder
le_Pclass = LabelEncoder()
le_Sex = LabelEncoder()
le_Age = LabelEncoder()
le_Fare = LabelEncoder()

In [11]:
inputs['n_Pclass'] = le_Pclass.fit_transform(inputs['Pclass'])
inputs['n_Sex'] = le_Pclass.fit_transform(inputs['Sex'])
inputs['n_Age'] = le_Pclass.fit_transform(inputs['Age'])
inputs['n_Fare'] = le_Pclass.fit_transform(inputs['Fare'])

In [12]:
inputs

     Pclass     Sex   Age     Fare  n_Pclass  n_Sex  n_Age  n_Fare
0         3    male  22.0   7.2500         2      1     28      18
1         1  female  38.0  71.2833         0      0     51     207
2         3  female  26.0   7.9250         2      0     34      41
3         1  female  35.0  53.1000         0      0     47     189
4         3    male  35.0   8.0500         2      1     47      43
..      ...     ...   ...      ...       ...    ...    ...     ...
886       2    male  27.0  13.0000         1      1     35      85
887       1  female  19.0  30.0000         0      0     24     153
888       3  female   NaN  23.4500         2      0     88     131
889       1    male  26.0  30.0000         0      1     34     153
890       3    male  32.0   7.7500         2      1     42      30

[891 rows x 8 columns]

In [13]:
n_inputs = inputs.drop(['Pclass', 'Sex', 'Age', 'Fare'], axis = 'columns')

In [14]:
n_inputs

     n_Pclass  n_Sex  n_Age  n_Fare
0           2      1     28      18
1           0      0     51     207
2           2      0     34      41
3           0      0     47     189
4           2      1     47      43
..        ...    ...    ...     ...
886         1      1     35      85
887         0      0     24     153
888         2      0     88     131
889         0      1     34     153
890         2      1     42      30

[891 rows x 4 columns]

In [15]:
target

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [16]:
from sklearn import tree
model = tree.DecisionTreeClassifier()

In [17]:
model.fit(n_inputs, target)

DecisionTreeClassifier()

In [18]:
model.score(n_inputs, target)

0.9797979797979798

In [19]:
model.predict([[0, 2, 38, 120]])

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([0])

In [20]:
model.predict([[0, 2, 18, 345]])

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([1])